<h1>You have found a Pokemon!</h1>

<h2><%= @randomPokemon.name.capitalize %></h2>
<img src=<%=@randomPokemon.sprites.front_default %> alt="No image available">

<h3>Types</h3>
<ul>
	<% @types.each do |type| %>
		<li><%= type.capitalize %></li>
	<% end %>
</ul>

<%= button_to "Catch",
		capture_path,
		method: :put,
		params: [
			name: @randomPokemon.name,
			api_id: @randomPokemon.id,
			image: @randomPokemon.sprites.front_default,
			types: @types
		] %>

<%= link_to "Maybe later...", root_path %>