<%= stylesheet_link_tag 'style.css' %>

<body>
  <h1>Your Pokemons</h1>

  <%= button_to "Go Hunting", hunt_path, method: :get, class: "hunt-button" %>

  <ul>
    <% @pokemons.each do |pokemon| %>
      <li class="pokemon-list-item">
        <a href="/pokemons/<%= pokemon.id %>" class="pokemon">
          <%= pokemon.name.capitalize %>
          <img src=<%= pokemon.image%> alt="Pokemon Image", class="pokemon-image-container">
        </a>
      </li>
    <% end %>
  </ul>

</body>
