<h1>Your Pokemons</h1>

<a href="/berries">Berries: <%= @berries %></a>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <a href="/pokemons/<%= pokemon.id %>">
        <%= pokemon.name.capitalize %>
        <img src=<%= pokemon.image%> alt="Pokemon Image">
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "Go Hunting", hunt_path %>
